div {
    display: flex;
    justify-content: center;
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.5rem;
        font-family: sans-serif;
        background: #ffffff;
        border: 2px solid #a6e4f5;
        border-radius: 0.5rem;
        width: min(15rem, 90%);
    }

}

label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: #000000;
    font-weight: bold;
}

.login_input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #a6e4f5;
    border-radius: 0.5rem;
}

#login_submit, #register_submit {
    background-color: rgb(192, 227, 231);
    padding: 0.5rem;
    margin-top: 0.5rem;
    width: 100%;
    border: 1px solid #a6e4f5;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: bold;
}

