/*style.css*/
div {
    display: grid;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div {
    div {
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: sans-serif;
        background: #ffffff;
        border: 2px solid #a6e4f5;
        border-radius: 0.5rem;
    }
}

label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: #000000;
    font-weight: bold;
}

.login_input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #a6e4f5;
    border-radius: 0.5rem;
}

#form_submit {
    background-color: white;
    padding: 0.5rem;
    width: 100%;
    border: 1px solid #a6e4f5;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: bold;
}

